<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO'
  crossorigin='anonymous'> <!-- Bootstrap -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script> <!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49'
  crossorigin='anonymous'></script> <!-- Bootstrap -->
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy'
  crossorigin='anonymous'></script> <!-- Bootstrap -->

<body>
  <button class="btn btn-success" (click)="change('game_one')">Game One</button>
  <button class="btn btn-danger" (click)="change('game_two')">Game Two</button>
  <button class="btn btn-warning" (click)="change('game_three')">Game Three</button>

  <table *ngIf="players" class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Player</th>
        <th scope="col">Game {{title}} Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players">
        <th>{{player.name}}</th>
        <td>
          <button id="one" class="btn border {{player.status}}" (click)="play(player._id)">Playing</button>
          <button id="two" class="btn border {{player.status}}" (click)="not(player._id)">Bench Warmer</button>
          <button id="three" class="btn border {{player.status}}" (click)="un(player._id)">Undecided</button>
        </td>
      </tr>
    </tbody>
  </table>

</body>